APP_PROFILE=dev

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sap_erp

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JWT_SECRET=change-this-secret-with-at-least-32-characters

ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000
JPA_DDL_AUTO=validate
